body{margin: 0px;
     padding: 0px;     
     
}
a{color: #000}

h1{   font-family: auto;
      color: #ffffff;
      text-align: center;
      font-size: 60px;
      padding-left: 50px;
      height: fit-content;
      margin: 10px ;

}
header h2{
color: #ffffff;
width: 50%;
align-self: center;
text-align: center;
font-size: 35px;
font-weight: bolder;
line-height: 2;
left: 25%;
position: absolute;
}
.h2-section{
      color: #000;
      padding: 50px;
      width: 100%;
      font-size: 35px;
      text-align: left;
}

header{
      
      background-image: url(./imagenes/pexels-wendy-wei-1179579.jpg) ;
      background-repeat: no-repeat;
      background-position: center;
      height: 500px;
      display: flex;
      background-size: cover;
}
nav{  

      position: fixed;
      top: 0px;
      z-index: 999;
      display: inline-flex;
      width: 100%;
      margin: 0px;
      height: fit-content;
      background-color: #000;
    

}
.prueba{ 
      width: 70%;
      margin: 100px auto;
      display: flow-root;
}
.prueba .img_izquierda {
      margin-right: 50px;
      width: 40%;
      float: left;
      border-radius: 100px;}
.prueba .img_derecha{
      margin-left: 50px;
      margin-bottom: 20px;
      width: 50%;
      float: right;
      border-radius: 100px;
}
.prueba:nth-child(2) h2{
      text-align: end;
}
.prueba h2 {font-size: 30px;
      line-height: 1.5;}
.prueba p{
      text-align: justify;
      line-height: 2;
      font-size: 24px;}
     article > section:last-child h2 { color: red; padding-bottom: 0px; text-align: left;}
        section >ol li{
            font-size: 17px; 
            font-family: 'Quicksand', sans-serif;
            line-height: 2; 
            color: #000;
            text-align: justify;
            list-style-image: url(imagenes/flecha-correcta.svg);
            padding: 5px 20px;
            
      }
            
nav ul li:first-child{
      background-color: #07E;
      border-radius: 5px;
}
nav ul li:hover:first-child{
      background-color: transparent;
      border-radius: 0px;
}
/*nav ul li a[href="#iniciarsesion"]::after{
 content: "";
 width: 12px;
 height: 12px;
 margin-left: 5px;
 display: inline-block;
 background-image: url(https://www.bing.com/th?id=OIP.PQqGgxwYyMwIPhsySFACZwHaER&w=235&h=160&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
 background-size: 12px;
 background-repeat: no-repeat;
}*/
ul {
     margin: auto;
}
ul li:hover{
      background-color: transparent;
      transition: .3s;
      box-shadow:  #07E 0px 1px; padding-bottom: 10px;   
}
.li{ 
   margin: 0px 5px;
   list-style-type: none;
   display: inline-block;  
   padding: 15px;
   border-radius: 0px ;
   font-size: 15px;
   font-weight: lighter;
   font-family: sans-serif;
  
}
.li a{text-decoration-line: none; color: #ffffff; }
.li a:hover{ color:  #07E;}
.iniciarsesion{
      margin-top: 70px;
      background-image: url(imagenes/imagen\ de\ inicio.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
}
.form{
      display: inline-grid;
      margin: auto;
}
.form p {
      font-size: 2.5em;
      font-family: sans-serif;
      text-align: center;

}
.label{ font-family: sans-serif; text-align: center;}
.input{   
      border-radius: 20px;
      border: none;
      text-align: center;
      line-height: 4;
      margin: 10px 0px;
      width: 90%;
     
}
.input:focus{
      width: 100% ;
 
}
.boton{ 
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    background-color: #07E;
    border: none;
    width: 100px;
}
.boton:hover{
      transition: .3s;
      background-color: #ffffff;
      color: #000;
}
.div_imagenes {
     margin: 0px 100px;
      background-color: #ffffff;
      display: inline-block;
}
.div_imagenes img{ 
     border-radius: 10px;
     width: 200px;
     height: 150px;
     display: inline-flex;
}
.div_imagenes figure:hover{
      transform: scale(1.2);
      transition: .3s;
}
.div_imagenes figure{
      transform: scale(1.1);
 float: left;
padding: 25px;
margin: 50px;
box-shadow: 2px 5px 5px #eeee;
}

footer{background-color: #dddddd;
height: 100px;

}

/*.busqueda{
    width: 80%;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0px 3px 6px #aaa
}
.busqueda::after{
    content: "";
    width: 20px;
    vertical-align: text-top;
    height: 20px;
    display: inline-block;
    background-image: url(./imagenes/vidrio-de-aumento.png);
    background-size: 17px;
    background-repeat: no-repeat;

}
.busqueda input{
    width: 60%;
    text-align: center;
    border: none;
    height: 25px;
    box-shadow: none;
    font-size: 17px;
    
}
input:focus{
    outline: none;
    
} */
